body {
    background-color: #40404a;
}
.titulo {
    font-family: sans-serif;
    color: #dbf6a7;
}
.texto {
    font-family: sans-serif;
    color: white;
    text-align: left;
}
.negrito {
    color:#dbf6a7
}

.cor-link {
    color: white;
    font-family: sans-serif;
}

a:link {
    color: #dbf6a7;
}
a:visited {
    color: #dbf6a7;
  }