@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif, Arial, Helvetica;
}

.home-title {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    
}
