body {
    background-color: #f0efeb;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    background-color: #F2E9E4;


}

header h1 {
    color: indianred;

}

nav a{
    text-align: center;
    background-color: white;
    color: #636363;
    border: solid gray 0.5px;
    line-height: 2.75em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    max-width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    border-radius: 3px;  
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
}

img:hover{
    opacity: 0.3;
    transition: 2s;
}

h2 {
    color: #4A4E69;
    
}

p{
    text-align: justify;
    color: #9A8C98;
    padding: 10px;
    
}

.botao {
	background-color: #ffffffe5;
	border: solid gray 0.5px;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 0.3em;
    text-decoration: none;
    width: 100px;
    max-width: 100%;
}


.botao1 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9A8C98;
    text-decoration: none;
    text-align: center;
}

