body {
    background-image: url(../../design/imagens/pexels-eberhard-grossgasteiger-1366922.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position:initial;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

header h1 {
    color: rgb(67, 67, 67);
    font-family: "Lobster", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    text-shadow: 6px 6px 7px rgb(247, 194, 194);
    
}

nav{
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    opacity: 0.5; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
nav li {
    float: left;
  }
  
nav li a  {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: rgba(255, 193, 171, 0.378);
  }

nav i {
      text-decoration: none;
      color: black;
      font-size: 30px;
      padding-top: 7px;
      padding-inline: 20px;
  }
div.icons{
    text-align: right;
}

.textoinicio{
    text-align: center;
}
.primeiro{
    font-size: 35px;
}

h2{
    color: rgb(67, 67, 67);
    padding-bottom: 20px;
}
img {
    height: auto;
    max-width: 100%;
    border-radius: 3px;  
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
}

main{
    display: block;
    background-color: rgba(255, 255, 255, 0.323) ;
    border-radius: 10px;
    width: 70em;
    padding: 0 7em;
    margin: 0 auto;
}

.primeiro {
    padding-top: 2em;
    color: rgb(67, 67, 67);
}


p{
    text-align: justify;
    color: rgb(24, 24, 24);
    padding: 10px;
}

.botao {
	background-color: #ffffff41;
	border: solid rgba(128, 128, 128, 0.289) 0.5px;
    border-radius: 0.3em;
    line-height: 2.75em;
    text-decoration: none;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.botao1 {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #151515;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px dotted rgb(87, 87, 87);
    
}

.botao:hover{
    background-color: rgba(255, 255, 255, 0.433);
}

section {
    padding-top: 2em;
}

hr {
   border: 1px solid rgba(0, 0, 0, 0.145);
}