@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

html{
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #a2a2a2;
    font-weight: 400;
}

.main {
    padding: 36px 24px 4px;
}
header{
    background-image: url(img/imgHeader.jpg);
    background-position: center;

    padding: 4.5em 1.5em;
    text-align: center;
}

header img {
    border-radius: 100%;
}

header h1 {
    color: #FFFFFF80;
    text-align: center;
}

header strong {
    color: white;
}

header a{
    color: #FFFFFF80;
    text-decoration:none;
    border-bottom: dotted 1px;
}

.one h2 {
    color: #787878;
}

.botao {
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px #efefef;
    color: #787878;
    text-align: center;
    padding: 2em 1.5em 0.25em 1.5em;
}

.botao1 {
    font-size: 16px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #a2a2a2;
    font-weight: 400;
}

